[submodule "rkdeveloptool"]
	path = rkdeveloptool
	url = https://github.com/rockchip-linux/rkdeveloptool
[submodule "rkbin"]
	path = rkbin
	url = https://github.com/rockchip-linux/rkbin
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/rockchip-linux/u-boot
# [submodule "orangepi-build"]
# 	path = orangepi-build
# 	url = https://github.com/orangepi-xunlong/orangepi-build